
h1 {color: rgb(193, 5, 251);
}
body { background-color:rgb(219, 206, 206);
}







 #content {

    color: rgba(146, 13, 186, 0.901);
    width: 800px;
    margin:auto;

}
 #jstable {

    width: 800px;
    margin: auto;
    float: auto;
 }